<h1>Add contacts:</h1>

<p>Add contact here:</p>

<form action="/contacts" method="post">
  <label for="first">First name:</label>
  <input id="first" name="first" type="text">
  <label for="last">Last name:</label>
  <input id="last" name="last" type="text">
  <button type="submit">Add Contact</button>
</form>
